cmake-build-debug
spec.stellar
test.stellar
.idea
main

DartConfiguration.tcl
googletest-src
googletest-build
googletest-download

test/DartConfiguration.tcl
Makefile
CTestTestfile.cmake
CMakeCache.txt
cmake_install.cmake
Testing
stellar.cbp
compile_commands.json
test/test.cbp
test/Testing
test/CMakeFiles
CMakeFiles
bin
test/runUnitTests
exe
libcore.a
output.o
scripts/output.o
scripts/main
scripts/e2e.log
lib

